*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
}

.container1{
  transform-style: preserve-3d;
	perspective: 1000px;
}

.front,
.back{
  background-size: cover;
	background-position: center;
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -moz-linear-gradient(45deg,  #cedce7 0%, #596a72 100%);
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    backface-visibility: hidden;
    border-radius: 10px;
}
.container1:hover .front,
.container1:hover .back{
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
}

.container1 .back{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.container1 .front{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.container1:hover .back{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container1:hover .front{
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p{
  font-size: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}