/* Dropdown Button */
.dropbtn {
    padding: 16px;
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
    color: #000;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
    display: inline-block;
    margin-top: 15px;/*
    margin-left: 7px;
    margin-right: 7px;*/
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
   
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/

.fontcolor{
    color: #000000;
}

.memberHover{
    color: #82ca9c;
    background-color: transparent;
}